<div
  class="gm-screen-app {{#if expanded}}expanded{{/if}} {{#if hidden}}hidden{{/if}} {{classes}} {{#if drawerMode}}window-app gm-screen-drawer{{/if}}"
  {{#if drawerMode}} style="
   opacity: {{drawerOpacity}};
   --gm-screen-width: {{drawerWidth}};
   --gm-screen-height: {{drawerHeight}}vh;
   --gm-screen-right-offset: {{rightMargin}}vw;
   " {{/if}}>

  <div class='gm-screen-actions tabs'>

    <div class="gm-screen-tabs">
      {{#each grids}}
      <button type='button' class='item' data-tab='{{this.id}}' data-action='setActiveGridId'
        draggable="true">{{this.name}}</button>
      {{/each}}
    </div>

    {{#if drawerMode}}
    <div class="meta-actions">
      {{#if isGM}}
      <button class="clear" type='button' data-action="clearGrid" title={{localize 'GMSCR.gmScreen.Reset' }}><i
          class="fas fa-ban"></i></button>
      {{/if}}
      <button class="refresh" type='button' data-action="refresh" title={{localize 'GMSCR.gmScreen.Refresh' }}><i
          class="fas fa-sync"></i></button>
    </div>

    <button class="gm-screen-button" data-action="toggle-gm-screen"><i class="fas fa-book-reader"></i>
      {{#unless condensedButton}}
      {{#if isGM}}
      {{localize 'GMSCR.gmScreen.Open' }}
      {{else}}
      {{ localize 'GMSCR.gmScreen.OpenPlayer' }}
      {{/if}}
      {{/unless}}
    </button>
    {{/if}}

  </div>

  {{#each grids}}
  {{> 'modules/gm-screen/templates/parts/screen-grid.hbs'}}
  {{/each}}

</div>
