<div
  class="gm-screen-app {{#if expanded}}expanded{{/if}} {{classes}} {{#if displayDrawer}}window-app gm-screen-drawer{{/if}}">

  {{#if displayDrawer}}
  <div class='gm-screen-actions'>
    <button class="clear" type='button' data-action="clearGrid"><i class="fas fa-ban"></i>{{localize
      'GMSCR.gmScreen.Reset'}}</button>

    <button class="refresh" type='button' data-action="refresh"><i class="fas fa-sync"></i>
      {{localize 'GMSCR.gmScreen.Refresh'}}</button>

    <button class="gm-screen-button" data-action="toggle-gm-screen"><i class="fas fa-book-reader"></i>
      {{localize 'GMSCR.gmScreen.Open'}}</button>
  </div>
  {{/if}}

  <div class="gm-screen-container {{#if displayDrawer}}window-content{{/if}}">
    <div class="grid"
      style="grid-template-columns: repeat({{columns}}, 1fr); grid-template-rows: repeat({{rows}}, 1fr)">

      {{#each gridEntries}}
      <div class="grid-cell" id="gm-screen-cell-{{@index}}" {{#if
        this.entityUuid}}data-entity-uuid="{{this.entityUuid}}" {{/if}}
        style="{{#if this.x}}grid-column: {{this.x}};{{/if}} {{#if this.y}}grid-row:{{this.y}}{{/if}}">
        <div class="grid-cell-header">
          {{#if this.entityUuid}}
          <a data-action="remove" title="{{localize 'GMSCR.gmScreen.ClearCell'}}">
            <i class="fas fa-times-circle"></i>
          </a>
          {{/if}}

          <select>
            {{#select this.entityUuid}}
            <option value="">None</option>
            {{#each ../entityOptions}}
            <optgroup label="{{localize label}}">
              {{selectOptions options}}
            </optgroup>
            {{/each}}
            {{/select}}
          </select>

          {{#if this.entityUuid}}
          <a data-action="open" title="{{localize 'GMSCR.gmScreen.OpenFull'}}">
            {{#if this.type}}

            {{#GMSCR-switch this.type}}
            {{#GMSCR-case 'JournalEntry'}}<i class="fas fa-book-open"></i>{{/GMSCR-case}}
            {{#GMSCR-case 'RollTable'}}<i class="fas fa-th-list"></i>{{/GMSCR-case}}
            {{#GMSCR-case 'Actor'}}<i class="fas fa-users"></i>{{/GMSCR-case}}
            {{#GMSCR-case 'Item'}}<i class="fas fa-suitcase"></i>{{/GMSCR-case}}
            {{/GMSCR-switch}}

            {{else}}
            <i class="fas fa-edit"></i>
            {{/if}}
          </a>
          {{/if}}
        </div>

        <div class="grid-cell-content-wrapper">
          <div class="grid-cell-content">
            {{!-- Contents injected in GmScreenApplication.activateListeners --}}
          </div>
        </div>
      </div>
      {{/each}}
    </div>

  </div>
</div>