<form>
  {{#if data.description}}
  <p>{{{ GMSCR-enrich data.description }}}</p>
  {{/if}}

  <!-- Roll Table Results Loop -->
  <table class="results">
    <thead>
      <tr>
        <th>
          <a data-action="rolltable" data-entity-uuid="{{entityUuid}}" title="{{ data.formula }}"><i
              class="fas fa-dice-d20"></i></a>
        </th>
        <th>
          <span>{{ localize "TABLE.ResultDetails" }}</span>
          {{#unless data.replacement}}
          <a data-action="rolltable-reset" data-entity-uuid="{{entityUuid}}" title="{{ localize " TABLE.Reset" }}"><i
              class="fas fa-undo"></i></a>
          {{/unless}}
        </th>
      </tr>
    </thead>
    <tbody>
      {{#each enrichedResults as |result i|}}

      <tr class="{{#if result.drawn}}drawn{{/if}}">
        <td class="range" title="{{ localize " TABLE.ResultWeight" }}: {{result.weight}}">
          {{#if (eq result.range.[0] result.range.[1])}}
          {{result.range.[0]}}
          {{else}}
          {{result.range.[0]}} - {{result.range.[1]}}
          {{/if}}
        </td>
        <td>
          {{{ GMSCR-enrich result.label}}}
        </td>
      </tr>

      {{/each}}
    </tbody>

  </table>
</form>