<div class="gm-screen-container {{#if @root/displayDrawer}}window-content{{/if}} tab" data-tab="{{id}}">
{{log 'screen-grid' this grid}}
  <div class="gm-screen-grid"
    style="grid-template-columns: repeat({{#if columnOverride}}{{columnOverride}}{{else}}{{@root/columns}}{{/if}}, 1fr); grid-template-rows: repeat({{#if rowOverride}}{{rowOverride}}{{else}}{{@root/rows}}{{/if}}, 1fr);">

    {{#each gridEntries}}
    {{> 'modules/gm-screen/templates/parts/screen-cell.hbs' gridId=../id}}
    {{/each}}
  </div>
</div>
