<div class="gm-screen-grid-cell" id="gm-screen-{{gridId}}-cell-{{@index}}" {{#if
  this.entityUuid}}data-entity-uuid="{{this.entityUuid}}" {{/if}} {{#if this.entryId}}data-entry-id="{{this.entryId}}"
  {{/if}} style="
    {{#if this.x}}grid-column: {{this.x}};{{/if}}
    {{#if this.y}}grid-row:{{this.y}};{{/if}}
    {{#if this.spanRows}}grid-row-end: span {{this.spanRows}};{{/if}}
    {{#if this.spanCols}}grid-column-end: span {{this.spanCols}};{{/if}}
      --column-span-count: {{#if this.spanCols}}{{this.spanCols}}{{else}}1{{/if}}">

  <div class="gm-screen-grid-cell-header">

    {{#if @root/isGM}}
    <a data-action="configureCell" title="{{localize 'GMSCR.gmScreen.ConfigureCell'}}"><i class="fas fa-cog"></i></a>

    {{#if this.entityUuid}}
    <a data-action="clearCell" title="{{localize 'GMSCR.gmScreen.ClearCell'}}">
      <i class="fas fa-times-circle"></i>
    </a>
    {{/if}}

    {{/if}}

    <h5 class="gm-screen-grid-cell-title">
      {{!-- Contents injected in GmScreenApplication.activateListeners --}}
    </h5>

    {{#if this.entityUuid}}
    <a data-action="open" title="{{localize 'GMSCR.gmScreen.OpenFull'}}">
      {{#if this.type}}

      {{#GMSCR-switch this.type}}
      {{#GMSCR-case 'JournalEntry'}}<i class="fas fa-book-open"></i>{{/GMSCR-case}}
      {{#GMSCR-case 'RollTable'}}<i class="fas fa-th-list"></i>{{/GMSCR-case}}
      {{#GMSCR-case 'Actor'}}<i class="fas fa-users"></i>{{/GMSCR-case}}
      {{#GMSCR-case 'Item'}}<i class="fas fa-suitcase"></i>{{/GMSCR-case}}
      {{/GMSCR-switch}}

      {{else}}
      <i class="fas fa-edit"></i>
      {{/if}}
    </a>
    {{/if}}
  </div>

  <div class="gm-screen-grid-cell-content-wrapper">
    <div class="gm-screen-grid-cell-content">
      {{!-- Contents injected in GmScreenApplication.activateListeners --}}
      {{#if @root/isGM}}
      {{#unless this.entityUuid}}
      <div class="gm-screen-grid-cell-hint">
        <h6>{{localize 'GMSCR.gmScreen.EmptyCellHint'}}</h6>
      </div>
      {{/unless}}
      {{/if}}
    </div>
  </div>
</div>